<app-search></app-search>
<app-bands-list></app-bands-list>

<div class="side-wrapper">
  <div class="cards-wrapper">
    <mat-card *ngFor="let artist of artistsList; let i = index">
      <mat-card-header>
        <mat-card-title>{{artist.name}}</mat-card-title>
      </mat-card-header>

      <img mat-card-image src={{artist.image}}
        (dblclick)="toggleImage(i + 1)"
        [ngClass]="{'show-image': elementIndex === i + 1}" />

      <mat-card-content>
        <p>Here can be some description</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-mini-fab (click)="playVideo(artist.video)">
          <mat-icon>play_arrow</mat-icon>
        </button>

        <button mat-raised-button>Show more info</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="artist-video-wrapper" *ngIf="showVideo">
    <div class="close" (click)="clearVideo()">
      <mat-icon>close</mat-icon>
    </div>
    <iframe
      width="560"
      height="315"
      [src]=currentVideo
      frameborder="0"
      allowfullscreen>
    </iframe>
  </div>
</div>
